# Import Library

In [1]:
import sqlalchemy as db
from sqlalchemy import text
import pandas as pd

# Load Data

In [4]:
engine = db.create_engine("mysql://root:rootpassword@172.16.5.4:3312/OLTP_Credit_Card_Transactions_Fraud_Detection")
conn = engine.connect()

In [7]:
client_df = pd.read_sql("Select * from Cliente", con=conn)
client_df.head()

Empty DataFrame
Columns: [cc_num, first, last, dob, gender_id, address_id]
Index: []

In [8]:
client_genere_df = pd.read_sql("Select * from Cliente_genero", con=conn)
client_genere_df.head()

Empty DataFrame
Columns: [gender_id, gender]
Index: []