# Import Library

In [8]:
import sqlalchemy as db
from sqlalchemy import text
import pandas as pd

# Load Data

In [10]:
file_path = './data/fraudTest.csv'
data = pd.read_csv(file_path)
data.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [11]:
engine = db.create_engine("mysql://root:rootpassword@172.16.5.4:3312/OLTP_Credit_Card_Transactions_Fraud_Detection")
conn = engine.connect()

In [17]:
state_table = pd.read_sql("Select * from State", con=conn)
state_table.head()

   state_id state_name
0         1         SC
1         2         UT
2         3         NY
3         4         FL
4         5         MI

In [18]:
client_genere_df = pd.read_sql("Select * from Cliente_genero", con=conn)
client_genere_df.head()

   gender_id gender
0          1      M
1          2      F

In [16]:
# Estados y GÃ©neros: Estas son tablas maestras y deben llenarse primero.
# Insertar datos Ãºnicos en la tabla State
states = pd.DataFrame(data['state'].unique(), columns=['state_name'])
states.to_sql('State', con=conn, if_exists='append', index=False)

# Insertar datos Ãºnicos en la tabla Cliente_genero
genders = pd.DataFrame(data['gender'].unique(), columns=['gender'])
genders.to_sql('Cliente_genero', con=conn, if_exists='append', index=False)

2

In [25]:
city_df = pd.read_sql("Select * from Ciudad", con=conn)
city_df.head()

   city_id   city_name  state_id
0        1    Columbia         1
1        2     Altonah         2
2        3    Bellmore         3
3        4  Titusville         4
4        5    Falmouth         5

In [24]:
# Ciudades: Las ciudades dependen de los estados, por lo que se insertan despuÃ©s.
# Recargar los estados para obtener los IDs correctos
states = pd.read_sql("SELECT * FROM State", con=conn)

# Mapear 'state_id' usando los nombres de estado cargados
data['state_id'] = data['state'].map(states.set_index('state_name')['state_id'])

# Preparar DataFrame de ciudades para la inserciÃ³n
# AsegÃºrate de usar 'city_name' en lugar de 'city'
cities = data[['city', 'state_id']].drop_duplicates()
cities.columns = ['city_name', 'state_id']  # Renombrar la columna adecuadamente

# Insertar los datos en la tabla Ciudad
cities.to_sql('Ciudad', con=conn, if_exists='append', index=False)

880

In [27]:
# Revisar si hay nombres de ciudad duplicados
print(cities['city_name'].duplicated().sum())

31

In [26]:
# Direcciones, Clientes, CategorÃ­as y Ubicaciones de Comercio: Estos dependen de las ciudades, gÃ©neros, y categorÃ­as, respectivamente.
# Cargar los datos de ciudades para obtener los city_id
cities = pd.read_sql("SELECT * FROM Ciudad", con=conn)

# Mapear 'city_id' usando los nombres de las ciudades cargadas
data['city_id'] = data['city'].map(cities.set_index('city_name')['city_id'])

# Preparar y insertar datos de direcciones
addresses = data[['street', 'city_id', 'zip', 'lat', 'long']].drop_duplicates()
addresses.to_sql('Address', con=conn, if_exists='append', index=False)

# Recargar gÃ©neros para asegurar que tenemos los gender_id actualizados
genders = pd.read_sql("SELECT * FROM Cliente_genero", con=conn)
data['gender_id'] = data['gender'].map(genders.set_index('gender')['gender_id'])

# Asegurar que address_id estÃ¡ correctamente mapeado
# Suponemos que esto se hace despuÃ©s de insertar las direcciones
data['address_id'] = data.apply(lambda row: addresses[(addresses['street'] == row['street']) & (addresses['zip'] == row['zip'])]['address_id'].values[0], axis=1)

# Preparar y insertar datos de clientes
clients = data[['cc_num', 'first', 'last', 'dob', 'gender_id', 'address_id']].drop_duplicates()
clients.to_sql('Cliente', con=conn, if_exists='append', index=False)

# Insertar y cargar categorÃ­as Ãºnicas
categories = pd.DataFrame(data['category'].unique(), columns=['category'])
categories.to_sql('comercio_cat', con=conn, if_exists='append', index=False)

# Recargar categorÃ­as para obtener los category_id
categories = pd.read_sql("SELECT * FROM comercio_cat", con=conn)
data['category_id'] = data['category'].map(categories.set_index('category')['category_id'])

# Preparar y insertar datos de comercios
merchants = data[['merchant', 'category_id']].drop_duplicates()
merchants.columns = ['merchant_name', 'category_id']  # Asegurarse de que el nombre de las columnas es correcto
merchants.to_sql('Comercio', con=conn, if_exists='append', index=False)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects